@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'iA Writer Mono';
  font-weight: 400;
  src: url(./fonts/iAWriterMonoS-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'iA Writer Mono';
  font-weight: 700;
  src: url(./fonts/iAWriterMonoS-Bold.ttf) format('truetype');
}

body {
  background: #111111;
  color: #ffffff;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
